@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");
$main: #cf8f24;
$secondary: #ece0cc;
$grey: rgb(61, 61, 61);
$grey2: rgb(109, 109, 109);
$color1: #1999a8;
$color2: #1caf95;
$gradient: linear-gradient(to right, $color1, $color2);
$gradient2: linear-gradient(to left, $color1, $color2);
$background: #ffffff;
$shadow: #e8e8e8;
$shadow2: #e8e8e8d7;

@font-face {
  font-family: "Kraftan";
  src: local("Kraftan"), url("/kraftan.otf") format("truetype");
}

.footerBody {
  width: screen;
  position: relative;
  z-index: 0;
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  padding: 5rem 2rem 0 2rem;

  @media screen and (max-width: 820px) {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  Image {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    height: 30rem;

    @media screen and (max-width: 800px) {
      height: 20rem;
      top: 10%;
    }
  }

  .logoCircle {
    position: relative;
    background-color: white;
    border: 1px solid $main;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    width: 15rem;
    height: 15rem;
    z-index: 0;

    p {
      line-height: normal;
      text-align: center;
      font-size: 0.75rem;
    }

    Image {
      position: relative;
      height: 3rem;
      top: 0;
    }

    .line {
      width: 90%;
      background-color: $main;
      height: 1px;
      margin-top: 5rem;
    }

    Link {
      font-size: 0.75rem;
      color: black;
      text-decoration: none;
      margin-top: 0.5rem;
    }
  }

  .linkCard {
    position: relative;
    background-color: white;
    border: 1px solid $main;
    z-index: 0;
    padding: 1rem;
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    border-radius: 0.5rem;

    @media screen and (max-width: 820px) {
      flex-wrap: wrap;
      width: 90%;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .heading {
      display: flex;
      text-align: left;
      flex-direction: column;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      -webkit-text-fill-color: $grey;
      letter-spacing: 0.5px;
      font-family: "Garamond", "Georgia", sans-serif;
      font-weight: 300;
    }

    Link {
      text-decoration: none;
      color: $main;
      margin-top: 0.25rem;
      font-family: "Maven Pro", sans-serif;
      font-weight: 200;
      font-size: 0.85rem;
    }
  }
}

@media print {
  .noprint {
    display: none;
  }
}
