@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 m-1 border border-[#533636] rounded-full uppercase text-xs tracking-widest text-gray-500 transition-all hover:border-yellow-400/70 hover:text-yellow-400/70 cursor-pointer;
  }

  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-3 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/80 focus:text-[#F7AB0A]/80 hover:border-[#F7AB0A]/40;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}